* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}



body{
    background-color: black;
    color: white;
}


#headerdiv{
    margin-top: auto;
    width: 100%;
    height: 50em; 
    background: url(./image/git-la.png);
    background-size: cover;
    background-position: center;
  
}

.header{
    padding: 10px 10%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 10px 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f87385;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;

}

.logo{
    width: 100px;
}

.bg-image.text{
    text-align: center;
    justify-content: center;
}

.header-description{
    margin-top: 10%;
    font-size: 30px;

}
.header-description h1{
font-size: 60px;
margin-top: 20px;
}

.header-description h1 span{
    color: #f87385;
}

.header-description h3 span{
    color: #f87385;
}

.header-pic-des{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-img{
    flex-basis: 15%;
}

.header-img img{
    border-radius: 100%;
}

/* -------------------ABOUT---------------------- */

#body-about{
    padding: 60px 0px;
    color: rgb(251, 230, 251);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.row{

    display: flex; 
    flex-wrap: wrap;
    padding-left: 5%;
   


}
.about-col-1{
    flex-basis: 40%;
    padding-right: 3%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 1rem;
    padding-right: 3%;
}
.about-col-2{
    flex-basis: 40%;
    padding-right: 5%;
}


.sub-title{
    color: white;
}

.tab{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
}

 .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
 }

 .tab-contents ul li{
    color: #f87385;
    font-size: larger;

 }

 .tab-contents ul li span{
    font-size: xx-large;
    color: white;
    

 }

 .tab-contents ul li p{
 
    font-size: large;
    color: rgb(244, 200, 200);
 }

 .tab-contents{
    display: none;
 }

 .tab-contents.active-tab{
    display: block;
 }

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f87385;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

 .tab-links.active-link::after{
    width: 100%;

 }


.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10%;
}
.card a img{
    width: 370px;
    height: 45vh;
}

#project h1{
    color: white;
    padding-left: 5%;
    font-size: 40px;
}

.last-body{
    color: black;
}


.last-body h1{
    color: white;
    padding-left: 5%;
    font-size: 40px;
    padding-bottom: 2rem;

}

.card-text h3{
    color: #f87385;
    text-align: center;
}

.card-text h4{
    color: #f79aa7;
}

input{
    margin-bottom: 2rem;
    width: 50%;
    border:rgb(76, 15, 42)  solid;
    background-color:rgb(245, 213, 190) ;
}


textarea{
    width: 50%;
    border: saddlebrown solid;
}


.input-mail{
    width: 70%;
}
button{
    color: black;
    border-color: #f87385;
    width: 8rem;
    cursor: pointer;
}

.contact-right{
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0% 10px 3%;
    
}

.mail img{
    width: 200px;
}

.footer-div{
background-color: rgb(23, 22, 22);
display: grid;
padding-top: 6%;
padding-bottom: 6%;
justify-content: center;
}


.footer{
    align-items: center;
    padding-bottom: 2rem;

}
.footer-icon{
    justify-content: space-between;
}


/* __________________ */

.container{
    width: 100%;
    background-color: #ffd9b9;
    color: black;
}
.contact-box{
    display: flex;

}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    border-top: 2px solid rgb(179, 139, 139);
    border-right: 2px solid rgb(179, 139, 139);

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color:#ba987d;
    border-top: 2px solid rgb(179, 139, 139);
    border-right: 2px solid rgb(179, 139, 139);
    
}

.contact-right img{
    width: 100%;
    height: 70vh;
}
.input-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row.input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #f87385;
    background-color: white;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #f87385;
}
label{
    margin-bottom: 10px;
    display: block;  
}
button{
    background-color: #f87385;
    color: aliceblue;
    width: 100px;
    outline: none;
    height: 2rem;
    font-size: 1rem;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 10px 0 black;
   
}

.contact-text{
    background-color: #e7d5c7;
    /* color: white; */
    padding-top: 1.6rem;
    padding-bottom: 3rem;
    padding-left: 10%;
   
}

